fieldset {
    display: flex;
    flex-direction: column;
}

.radioSearchDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap
}

.filter {
    display: flex;
    flex-direction: row
}